@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  --blue: hsl(212, 100%, 59%);
  --light-blue: hsl(194, 100%, 59%);
  --red: hsl(0, 100%, 62%);
  --yellow: hsl(39, 100%, 56%);
  --green: hsl(130, 69%, 52%);
  --pink: hsl(327, 100%, 63%);
  --grey: hsl(0, 0%, 44%);
}

html.dark {
  --blue: hsl(212, 100%, 67%);
  --light-blue: hsl(194, 100%, 68%);
  --red: hsl(0, 100%, 70%);
  --yellow: hsl(39, 100%, 71%);
  --green: hsl(130, 100%, 67%);
  --pink: hsl(327, 100%, 73%);
  --grey: hsl(0, 0%, 57%);
}

@layer components {
  a {
    @apply text-purple-500 hover:text-purple-700 dark:text-purple-300 dark:hover:text-purple-500 transition-colors;
  }
  nav a {
    @apply text-white dark:text-white hover:text-purple-400;
  }
  .Service-Most {
    @apply heir:stroke-green-400;
  }
  .Service-Some {
    @apply heir:stroke-orange-400;
  }
  .Service-Poor {
    @apply heir:stroke-red-400;
  }
  @screen sm {
    .markdown {
      @apply text-base;
    }
    .markdown h1,
    .markdown h2 {
      @apply text-2xl;
    }
    .markdown h3,
    .markdown h4,
    .markdown h5,
    .markdown h6 {
      @apply text-xl;
    }
  }
  @screen lg {
    .markdown {
      @apply text-lg;
    }
  }
  .markdown {
    @apply leading-relaxed text-sm;
  }
  .markdown h1,
  .markdown h2 {
    @apply text-xl my-6 font-semibold;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-lg my-3 font-semibold;
  }
  .markdown a {
    @apply text-purple-500;
  }
  .markdown a:hover {
    @apply underline;
  }
  .markdown p {
    @apply mb-4;
  }
  .markdown ul,
  .markdown ol {
    @apply mb-4 ml-8;
  }
  .markdown li > p,
  .markdown li > ul,
  .markdown li > ol {
    @apply mb-0;
  }
  .markdown ol {
    @apply list-decimal;
  }
  .markdown ul {
    @apply list-disc;
  }
  .markdown blockquote {
    @apply p-2 mx-6 mb-4 border-l-4 italic;
    @apply bg-zinc-100 border-zinc-300;
    @apply dark:bg-zinc-600 dark:border-zinc-700;
  }
  .markdown blockquote > p {
    @apply mb-0;
  }
  .markdown td,
  .markdown th {
    @apply px-2 py-1 border border-gray-400;
  }
  .markdown tr:nth-child(odd) {
    @apply bg-gray-100;
  }
  .markdown table {
    @apply mb-6;
  }
  .list {
    @apply child:font-bold;
    max-width: calc(100vw - 20vw);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list :first-child {
    @apply ml-1;
  }
  .list :last-child {
    @apply mr-1;
  }
  .list :not(:last-child)::after {
    content: ',';
    @apply mr-1;
    @apply dark:bg-white bg-black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .list :not(:first-child):last-child::before {
    content: 'and';
    @apply mr-1;
    @apply dark:bg-white bg-black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.Blue {
  color: var(--blue) !important;
}

.LightBlue {
  color: var(--light-blue) !important;
}

.Red {
  color: var(--red) !important;
}

.Yellow {
  color: var(--yellow) !important;
}

.Green {
  color: var(--green) !important;
}

.Pink {
  color: var(--pink) !important;
}

.Grey {
  color: var(--grey) !important;
}

.Multi {
  background: transparent;
}

.Multi.Yellow-Green {
  background: linear-gradient(100deg, var(--yellow) 0%, var(--green) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Green-LightBlue {
  background: linear-gradient(100deg, var(--green) 0%, var(--light-blue) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Yellow-Green-Grey {
  background: linear-gradient(100deg, var(--yellow) 0%, var(--green) 50%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Green-Grey {
  background: linear-gradient(100deg, var(--green) 0%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Pink-Green-LightBlue {
  background: linear-gradient(100deg, var(--pink) 0%, var(--green) 50%, var(--light-blue) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Pink-Green-LightBlue-Blue {
  background: linear-gradient(100deg, var(--pink) 0%, var(--green) 33%, var(--light-blue) 66%, var(--blue) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.LightBlue-Pink-Yellow-Blue-Red {
  background: linear-gradient(100deg, var(--light-blue) 0%, var(--pink) 25%, var(--yellow) 50%, var(--blue) 75%, var(--red) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Green-LightBlue-Pink-Yellow-Grey-Blue-Red {
  background: linear-gradient(100deg, var(--green) 0%, var(--light-blue) 16%, var(--pink) 33%, var(--yellow) 50%, var(--blue) 66%, var(--red) 83%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Green-LightBlue-Yellow-Grey-Blue-Red {
  background: linear-gradient(100deg, var(--green) 0%, var(--light-blue) 25%, var(--yellow) 50%, var(--blue) 75%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Green-LightBlue-Pink-Grey-Blue {
  background: linear-gradient(100deg, var(--green) 0%, var(--light-blue) 25%, var(--pink) 50%, var(--blue) 75%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Green-LightBlue-Pink-Yellow-Grey-Blue {
  background: linear-gradient(100deg, var(--green) 0%, var(--light-blue) 16%, var(--pink) 33%, var(--yellow) 50%, var(--blue) 66%, var(--grey) 83%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.LightBlue-Pink-Yellow-Blue-Red-Green-Grey {
  background: linear-gradient(100deg, var(--light-blue) 0%, var(--pink) 14%, var(--yellow) 28%, var(--blue) 42%, var(--red) 56%, var(--green) 70%, var(--grey) 84%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Multi.Green-Yellow-Grey {
  background: linear-gradient(100deg, var(--green) 0%, var(--yellow) 50%, var(--grey) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=tailwind.css.map */