@tailwind base;
@tailwind components;
@tailwind utilities;

html {

    --blue: hsl(212, 100%, 59%);
    --light-blue: hsl(194, 100%, 59%);
    --red: hsl(0, 100%, 62%);
    --yellow: hsl(39, 100%, 56%);
    --green: hsl(130, 69%, 52%);
    --pink: hsl(327, 100%, 63%);
    --grey: hsl(0, 0%, 44%);

    &.dark {
        --blue: hsl(212, 100%, 67%);
        --light-blue: hsl(194, 100%, 68%);
        --red: hsl(0, 100%, 70%);
        --yellow: hsl(39, 100%, 71%);
        --green: hsl(130, 100%, 67%);
        --pink: hsl(327, 100%, 73%);
        --grey: hsl(0, 0%, 57%);
    }

}

@layer components {

    a {
        @apply text-purple-500 hover:text-purple-700 dark:text-purple-300 dark:hover:text-purple-500 transition-colors;
    }

    nav a {
        @apply text-white dark:text-white hover:text-purple-400;
    }

    .Service-Most>div>svg>g {
        @apply stroke-green-400;
    }

    .Service-Some>div>svg>g {
        @apply stroke-orange-400;
    }

    .Service-Poor>div>svg>g {
        @apply stroke-red-400;
    }

    // Markdown Reset

    @screen sm {
        .markdown {
            @apply text-base;

            h1,
            h2 {
                @apply text-2xl;
            }

            h3,
            h4,
            h5,
            h6 {
                @apply text-xl;
            }
        }
    }

    @screen lg {
        .markdown {
            @apply text-lg;
        }
    }

    .markdown {
        @apply leading-relaxed text-sm;


        h1,
        h2 {
            @apply text-xl my-6 font-semibold;
        }

        h3,
        h4,
        h5,
        h6 {
            @apply text-lg my-3 font-semibold;
        }

        a {
            @apply text-purple-500;
        }

        a:hover {
            @apply underline;
        }

        p {
            @apply mb-4;
        }

        ul,
        ol {
            @apply mb-4 ml-8;
        }

        li>p,
        li>ul,
        li>ol {
            @apply mb-0;
        }

        ol {
            @apply list-decimal;
        }

        ul {
            @apply list-disc;
        }

        blockquote {
            @apply p-2 mx-6 bg-zinc-600 mb-4 border-l-4 border-zinc-700 italic;
        }

        blockquote>p {
            @apply mb-0;
        }

        td,
        th {
            @apply px-2 py-1 border border-gray-400;
        }

        tr:nth-child(odd) {
            @apply bg-gray-100;
        }

        table {
            @apply mb-6;
        }
    }

}

.Blue {
    color: var(--blue);
}

.LightBlue {
    color: var(--light-blue);
}

.Red {
    color: var(--red);
}

.Yellow {
    color: var(--yellow);
}

.Green {
    color: var(--green);
}

.Pink {
    color: var(--pink);
}

.Grey {
    color: var(--grey);
}

.Multi {
    $deg: 100deg;
    background: transparent;

    &.Yellow-Green {
        background: linear-gradient($deg, var(--yellow) 0%, var(--green) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.Green-LightBlue {
        background: linear-gradient($deg, var(--green) 0%, var(--light-blue) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.Yellow-Green-Grey {
        background: linear-gradient($deg, var(--yellow) 0%, var(--green) 50%, var(--grey) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.Green-Grey {
        background: linear-gradient($deg, var(--green) 0%, var(--grey) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.Pink-Green-LightBlue {
        background: linear-gradient($deg, var(--pink) 0%, var(--green) 50%, var(--light-blue) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.Pink-Green-LightBlue-Blue {
        background: linear-gradient($deg, var(--pink) 0%, var(--green) 33%, var(--light-blue) 66%, var(--blue) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.LightBlue-Pink-Yellow-Blue-Red {
        background: linear-gradient($deg, var(--light-blue) 0%, var(--pink) 25%, var(--yellow) 50%, var(--blue) 75%, var(--red) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.Green-LightBlue-Pink-Yellow-Grey-Blue-Red {
        background: linear-gradient($deg, var(--green) 0%, var(--light-blue) 16%, var(--pink) 33%, var(--yellow) 50%, var(--blue) 66%, var(--red) 83%, var(--grey) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.Green-LightBlue-Yellow-Grey-Blue-Red {
        background: linear-gradient($deg, var(--green) 0%, var(--light-blue) 25%, var(--yellow) 50%, var(--blue) 75%, var(--grey) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}